.whychossetxt {
	font-family: VAGRounded;
	font-size: 52px;
	font-weight: 300;

	letter-spacing: 2.08px;

	color: #3e3e3e;
}
.circlebg {
	background: #efefef;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
	width: 180px;
	margin: 0 auto;
	.imgdes {
		width: 124px;
		height: 112px;
	}
}
.heading {
	font-family: VAGRounded;
	font-size: 22.5px;
	max-width: 126px;
	margin: 0 auto;

	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.16;
	letter-spacing: normal;
	text-align: center;
	color: #727272;
}
.des {
	font-family: VAGRounded;
	font-size: 16px;
	text-align: center;
	line-height: 1.38;
	max-width: 163px;
	margin: 0 auto;
	color: #c2c2c2;
}
.viewbtn {
	font-family: VAGRounded;
	font-size: 20.5px;
	font-weight: 500;
	letter-spacing: 0.82px;
	color: #5bd8d8;
}

.count {
	background: #1f99a0;
	.cardbordr {
		border-image: linear-gradient(to top, #ffff, rgba(0, 0, 0, 0)) 1 100%;

		border-width: 1px;
		border-style: solid;
		border-left: 0;
	}
	.iconcircle {
		background: #ffffff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 140px;
		width: 140px;
		margin: 0 auto;
		img {
			width: 72px;
			height: 73px;
		}
	}
	.counttxt {
		font-size: 39px;

		letter-spacing: 1.56px;
		text-align: center;
		color: #ffffff;
		margin: 0 auto;
	}
	.destxt {
		font-size: 17px;
		font-weight: 500;
		display: block;
		letter-spacing: 0.68px;
		text-align: center;
		margin: 0 auto;
		line-height: 0.8;
		color: #ffffff;
	}
}

@media (max-width: 576px) {
	.whychossetxt {
		font-size: 30px;
	}
	.des {
		margin-bottom: 10px;
	}
	.viewbtn {
		margin: 20px;
	}
	.count {
		.container {
			padding: 25px 0px;
		}
	}
	.destxt {
		margin-bottom: 20px !important;
		font-size: 16px;
	}
	.count {
		.counttxt {
			font-size: 26px;
		}
	}
}
