<section>
  <div class="container">
      <div class="row">
          <div class="col-md-12 mt-sm-5 text-center mb-4">
              <h3 data-aos="fade-up" data-aos-duration="900" class="whychossetxt">Why Choose Us?</h3>
          </div>
          <div class="col-md-3" *ngFor="let reason of choosing" data-aos="fade-up" data-aos-duration="900">
              <div class="circlebg">
                  <div class="imgdes">
                      <img class="w-100 h-100" src="{{reason.imgsrc}}" />
                  </div>
              </div>
              <h2 class="heading mt-2">{{reason.heading}}</h2>
              <p class="des mt-2">{{reason.des}}</p>
          </div>
      </div>
      <div class="row my-sm-5 " >
          <div class="col-md-12 pt-sm-5 d-flex justify-content-center">
              <a data-aos="fade-up" data-aos-duration="900" class="viewbtn">Know more
              <img src="/assets/images/color_arrow.png" />
            </a>
          </div>
      </div>
  </div>
</section>

<section class="count py-sm-5">
  <div class="container my-5">
      <div class="row m-0">
          <div class="col-md-4" >
              <div class="cardbordr" data-aos="fade-up" data-aos-duration="800">
                  <div class="iconcircle">
                      <img class="img-fluid" src="/assets/images/inventory.png" />
                  </div>
                  <div class="mt-2">
                      <label class="d-block counttxt mb-0">{{totalinventory}}</label>
                      <label class="destxt">Total Inventory</label>
                  </div>
              </div>
          </div>
          <div class="col-md-4" >
             <div class="cardbordr" data-aos="fade-up" data-aos-duration="1150">
              <div class="iconcircle">
                  <img class="img-fluid" src="/assets/images/totalinv.png" />
              </div>
              <div class="mt-2">
                  <label class="d-block counttxt mb-0">{{totalweight}}</label>
                  <label class="destxt">Total Weight(tons)</label>
              </div>
             </div>
          </div>
          <div class="col-md-4" >
              <div class="cardbordr" data-aos="fade-up" data-aos-duration="1350">
                  <div class="iconcircle">
                      <img  class="img-fluid" src="/assets/images/value.png" />
                  </div>
                  <div class="mt-2">
                      <label class="d-block counttxt mb-0">{{totalvalue}}</label>
                      <label class="destxt">Inventory Value ($)</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
