<section>
  <div class="container mt-sm-5">
      <div data-aos="fade-down" data-aos-duration="900">
          <img class=" mt-sm-5 mx-auto d-block" src="../../../assets/images/eoxs copy.svg">
      </div>

      <div class="d-flex justify-content-center mt-5" >
          <div class="info d-flex justify-content-center" data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500">
              <div class="icon mr-2">
                  <img src="../../../assets/images/img (5).png" />
              </div>
              <div class="">
                ron@eoxs.com
                          </div>
          </div>
          <div class="d-flex info justify-content-center" data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500">
              <div class="icon mr-2">
                  <img src="../../../assets/images/img (7).png" />
              </div>
              <div class="">
                +179 93014925
              </div>
          </div>
      </div>
      <div class="row footerlinks mobile-off" >
          <div class="col-md-8 mx-auto">
              <div>
                  <div class="mt-4 row" data-aos="fade-down"
                  data-aos-easing="linear"
                  data-aos-duration="1500">
                      <div class="text col-2" routerLink="/steel/galvanized" routerLinkActive="active">
                          Galvanized
                      </div>
                      <div class="col-2 text" routerLink="/steel/galvalume" routerLinkActive="active">
                          Galvalume
                      </div>
                      <div class="col-2 text" routerLink="/steel/galvaneneal" routerLinkActive="active">
                          Galvanneal
                      </div>
                      <div class="col-2 text" routerLink="/steel/hot-roll" routerLinkActive="active">
                          Hot Roll
                      </div>
                      <div class="col-2 text" routerLink="/steel/cold-roll" routerLinkActive="active">
                          Cold Roll
                      </div>
                      <div class="col-2 text" routerLink="/steel/electro-galvanized" routerLinkActive="active">
                          Electro
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row mt-3">
          <div class="col-md-8 mx-auto mobile-off">
              <ul type="none" class="d-flex linkfot " data-aos="fade-down"
              data-aos-easing="linear"
              data-aos-duration="1500">


                  <li routerLink="/about-us" routerLinkActive="active">
                      About

                  </li>
                  <li routerLink="/literature">
                      Literature
                  </li>
                  <li routerLink="/contact-us" routerLinkActive="active">
                      Contact Form
                  </li>
                  <li routerLink="/faq" routerLinkActive="active">
                      FAQs
                  </li>
                  <li routerLink="/privacy-policy" routerLinkActive="active">
                      Privacy Policy
                  </li>
                  <li routerLink="/terms" routerLinkActive="active">
                    Terms and Condition
                </li>

              </ul>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-12 d-flex justify-content-between align-items-center"
          >
              <div class="copyright">
                  © 2020 www.eoxs.com. All rights reserved.
              </div>
              <div class="icons">
                  <ul type="none" class="d-flex">
                      <li>
                          <img src="../../../assets/images/facebbok.png">
                      </li>
                      <li>
                          <img src="../../../assets/images/linked.png">
                      </li>
                      <li>
                          <img src="../../../assets/images/twitter.png">
                      </li>
                      <li>
                          <img src="../../../assets/images/insta.png">
                      </li>

                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
