<section class="margin-minus" data-aos="fade-up" data-aos-duration="500">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card py-4 px-3 d-flex">
                    <div class="mobile-on-f justify-content-center d-none pb-3">
                        <h3 class="mb-0">Search your Product</h3>

                    </div>
                    <div class="d-flex justify-content-center align-items-center">

                        <h3 class="mb-0 mobile-off">Search your Product</h3>
                        <mat-select name="productCategory" [(value)]="selectedCategory"
                            class="selectdesign form-control ml-3" placeholder="Select Category">
                            <mat-option [value]="'galvanized'">Galvanized</mat-option>
                            <mat-option [value]="'galvalume'">Galvalume</mat-option>
                            <mat-option [value]="'galvaneneal'">Galvaneneal</mat-option>
                            <mat-option [value]="'hot-roll'">Hot Roll</mat-option>
                            <mat-option [value]="'cold-roll'">Cold Roll</mat-option>
                            <mat-option [value]="'electro-galvanized'">Electro Galvanized</mat-option>
                        </mat-select>
                        <!-- <select class="selectdesign form-control ml-3">
                          <option selected> Select Category</option>
                          <option value="galvanized">Galvanized</option>
                          <option value="galvalume">Galvalume</option>
                          <option value="galvaneal">Galvaneal</option>
                          <option value="hotroll">Hot Roll</option>
                          <option value="colroll">Cold Roll</option>
                          <option value="electrogalvanized">Electro Galvanized</option>
                      </select> -->
                        <select class="selectdesign form-control ml-1">
                            <option selected>Select your gauge</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>

                        </select>
                        <button class="searchpro ml-1 mobile-off" (click)="goToProductsPage()">
                            Search Products
                            <img class="ml-2" src="../../../../assets/images/rightarrow.png" />
                        </button>
                    </div>
                    <div class="mobile-on-f d-none justify-content-end py-2">
                        <button class="searchpro ml-1 ">
                            Search Products
                            <img class="ml-2" src="../../../../assets/images/rightarrow.png" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="looking mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-sm-5">
                <div class="text-center">
                    <h3 class="lookingfor" data-aos="fade-up" data-aos-duration="900">What are you Looking For?</h3>
                </div>
            </div>


        </div>
        <!-- <div class="row" data-aos="fade-up" data-aos-duration="500">

          <div class="col-md-2 ClildDiv1 productcard" (click)="navigateToProduct('galvanized')">
              <div class="mb-3">
                  <span class="typetxt">Galvanized</span>
                  <div class="d-flex justify-content-between mt5">
                      <span class="coiltxt">Steel Coil </span>
                      <img src="../../../../assets/images/light arrow.png" />
                  </div>
              </div>
              <div class="productimg">
                  <img class="w-100" src="../../../../assets/images/product-category/Galvanized.png" />
              </div>
          </div>

          <div class=" ChildDiv2">
              <img src="../../../../assets/images/product-category/Galvanized.png" />
          </div>

          <div class="col-md-2 ClildDiv3 productcard" (click)="navigateToProduct('galvalume')">
              <div class="mb-3">
                  <span class="typetxt">Galvalume</span>
                  <div class="d-flex justify-content-between mt5">
                      <span class="coiltxt">Steel Coil </span>
                      <img src="../../../../assets/images/light arrow.png" />
                  </div>
              </div>
              <div class="productimg">
                  <img class="w-100" src="../../../../assets/images/product-category/Galvalume.png" />
              </div>
          </div>

          <div class=" ChildDiv4">
              <img src="../../../../assets/images/product-category/Galvalume.png" />
          </div>

          <div class="col-md-2 ClildDiv5 productcard" (click)="navigateToProduct('galvaneal')">
              <div class="mb-3">
                  <span class="typetxt">Galvaneneal</span>
                  <div class="d-flex justify-content-between mt5">
                      <span class="coiltxt">Steel Coil </span>
                      <img src="../../../../assets/images/light arrow.png" />
                  </div>
              </div>
              <div class="productimg">
                  <img class="w-100" src="../../../../assets/images/product-category/galvaneneal.png" />
              </div>
          </div>

          <div class=" ChildDiv6">
              <img src="../../../../assets/images/product-category/galvaneneal.png" />
          </div>

          <div class="col-md-2 ClildDiv7 productcard" (click)="navigateToProduct('hot-roll')">
              <div class="mb-3">
                  <span class="typetxt">Hot Roll</span>
                  <div class="d-flex justify-content-between mt5">
                      <span class="coiltxt">Steel Coil </span>
                      <img src="../../../../assets/images/light arrow.png" />
                  </div>
              </div>
              <div class="productimg">
                  <img class="w-100" src="../../../../assets/images/product-category/Hot-roll.png" />
              </div>
          </div>

          <div class=" ChildDiv8">
              <img src="../../../../assets/images/product-category/Hot-roll.png" />
          </div>

          <div class="col-md-2 ClildDiv9 productcard" (click)="navigateToProduct('cold-roll')">
              <div class="mb-3">
                  <span class="typetxt">Cold Roll</span>
                  <div class="d-flex justify-content-between mt5">
                      <span class="coiltxt">Steel Coil </span>
                      <img src="../../../../assets/images/light arrow.png" />
                  </div>
              </div>
              <div class="productimg">
                  <img class="w-100" src="../../../../assets/images/product-category/cold-roll.png" />
              </div>
          </div>

          <div class=" ChildDiv10">
              <img src="../../../../assets/images/product-category/cold-roll.png" />
          </div>

          <div class="col-md-2 ClildDiv11 productcard" (click)="navigateToProduct('electro-galvanized')">
              <div class="mb-3">
                  <span class="typetxt">Electro Galvanized</span>
                  <div class="d-flex justify-content-between mt5">
                      <span class="coiltxt">Steel Coil </span>
                      <img src="../../../../assets/images/light arrow.png" />
                  </div>
              </div>
              <div class="productimg">
                  <img class="w-100" src="../../../../assets/images/product-category/Electro-Galvanized.png" />
              </div>
          </div>

          <div class=" ChildDiv12">
              <img src="../../../../assets/images/product-category/Electro-Galvanized.png" />
          </div>
      </div> -->

        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="productcard" (click)="navigateToProduct('galvanized')">
                            <div class="mb-3">
                                <span class="typetxt">Galvanized</span>
                                <div class="d-flex justify-content-between mt5">
                                    <span class="coiltxt">Steel Coil </span>
                                    <img src="../../../../assets/images/light arrow.png" />
                                </div>
                            </div>
                            <div class="productimg">
                                <img class="w-100" src="../../../../assets/images/product-category/Galvanized.png" />
                            </div>
                        </div>
                    </ng-template>



                    <ng-template carouselSlide>
                        <div class="productcard" (click)="navigateToProduct('galvalume')">
                            <div class="mb-3">
                                <span class="typetxt">Galvalume</span>
                                <div class="d-flex justify-content-between mt5">
                                    <span class="coiltxt">Steel Coil </span>
                                    <img src="../../../../assets/images/light arrow.png" />
                                </div>
                            </div>
                            <div class="productimg">
                                <img class="w-100" src="../../../../assets/images/product-category/Galvalume.png" />
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="productcard" (click)="navigateToProduct('galvaneal')">
                            <div class="mb-3">
                                <span class="typetxt">Galvaneneal</span>
                                <div class="d-flex justify-content-between mt5">
                                    <span class="coiltxt">Steel Coil </span>
                                    <img src="../../../../assets/images/light arrow.png" />
                                </div>
                            </div>
                            <div class="productimg">
                                <img class="w-100" src="../../../../assets/images/product-category/galvaneneal.png" />
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="productcard" (click)="navigateToProduct('hot-roll')">
                            <div class="mb-3">
                                <span class="typetxt">Hot Roll</span>
                                <div class="d-flex justify-content-between mt5">
                                    <span class="coiltxt">Steel Coil </span>
                                    <img src="../../../../assets/images/light arrow.png" />
                                </div>
                            </div>
                            <div class="productimg">
                                <img class="w-100" src="../../../../assets/images/product-category/Hot-roll.png" />
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="productcard" (click)="navigateToProduct('cold-roll')">
                            <div class="mb-3">
                                <span class="typetxt">Cold Roll</span>
                                <div class="d-flex justify-content-between mt5">
                                    <span class="coiltxt">Steel Coil </span>
                                    <img src="../../../../assets/images/light arrow.png" />
                                </div>
                            </div>
                            <div class="productimg">
                                <img class="w-100" src="../../../../assets/images/product-category/cold-roll.png" />
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="productcard" (click)="navigateToProduct('electro-galvanized')">
                            <div class="mb-3">
                                <span class="typetxt">Electro Galvanized</span>
                                <div class="d-flex justify-content-between mt5">
                                    <span class="coiltxt">Steel Coil </span>
                                    <img src="../../../../assets/images/light arrow.png" />
                                </div>
                            </div>
                            <div class="productimg">
                                <img class="w-100"
                                    src="../../../../assets/images/product-category/Electro-Galvanized.png" />
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>

        <div class="row my-5" data-aos="fade-up" data-aos-duration="900">
            <div class="col-md-12 d-flex justify-content-center">
                <a class="viewbtn" routerLink="/steel/galvanized">View All Listings
                    <img src="../../../../assets/images/color_arrow.png" />
                </a>
            </div>
        </div>

    </div>
</section>