<section class="banner">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="">
          <h3 data-aos="fade-up" data-aos-duration="1000"> Privacy Policy</h3>
          <p data-aos="fade-up" data-aos-duration="1000" class="">
            EOXS respects each individual’s right to personal
            privacy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="">
                    <div class="About">
                        Privacy Policy
                        <p class="header">The Steel Store respects each individual’s right to personal privacy.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div> -->

  <div class="container">
    <div class="text">
      <div class="row">
        <div class="col-md-5">
          <img class="w-100" src="../../../assets/images/privacy-inter.png" />
        </div>
        <div class="col-md-7">
          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">Introduction</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="text3">
              This Privacy Notice describes how EOXS.com and its affiliates (collectively “EOXS”) collect and process
              your information through EOXS websites, devices, products, services, online and physical stores, and
              applications that reference this Privacy Notice (together “EOXS Services”). <b>By using EOXS Services, you
                are consenting to the practices described in this Privacy Notice.</b>
            </p>
            <br />
          </div>
          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">What Information Does EOXS Collect?</h5>
            <p>



            </p>
            <ul data-aos="fade-up" data-aos-duration="1000" class="text3" type="circle">
              <li>Information You Give Us</li>
              <li>Automatic Information</li>
              <li>Information from Other Sources</li>
            </ul>
          </div>
          <br />
          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">For What Purposes Does EOXS Use Your
              Information?</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="text3">
              We use your personal information to operate, provide, develop, and improve the products and services that
              we offer our customers. These purposes include:

            </p>
            <ul class="text3" type="circle" data-aos="fade-up" data-aos-duration="1000">
              <li> Purchase and delivery of products and services</li>
              <li>Provide, troubleshoot, and improve EOXS Services. </li>
              <li>Recommendations and personalization</li>
              <li>Provide voice, image and camera services. </li>
              <li>Comply with legal obligations</li>
              <li>Communicate with you. </li>
              <li>Advertising. </li>
              <li>Fraud Prevention and Credit Risks.</li>
            </ul>
          </div>
          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">Cookies and Other Identifiers?</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="text3">
              Cookies, pixels, and other technologies (collectively, "cookies") are used to recognize your browser or
              device, and provide you with essential features and services and for additional purposes, including:
            </p>
            <ul class="text3" type="circle" data-aos="fade-up" data-aos-duration="1000">
              <li>Recognizing you when you sign-in to use our services.</li>
              <li>Keeping track of your specified preferences. </li>
              <li>Keeping track of items stored in your shopping cart.</li>
              <li>Conducting research and diagnostics to improve EOXS’s content, products, and services. </li>
              <li>Preventing fraudulent activity.</li>
              <li>Improving security. </li>
              <li>Delivering content relevant to your interests on EOXS’s sites. </li>
              <li> <b>Reporting:</b> This allows us to measure and analyze the performance of our services.
                Approved third parties may also set cookies when you interact with EOXS services. Third parties include
                search engines, providers of measurement and analytics services, social media networks, and advertising
                companies. Third parties use cookies in the process of delivering content, including ads relevant to
                your interests, to measure the effectiveness of their ads, and to perform services on behalf of EOXS.
              </li>
            </ul>
          </div>
          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">Does EOXS Share Your Information?</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="text3">
              We share customers’ personal information only as described below and with subsidiaries that either are
              subject to this Privacy Notice or follow practices at least as protective as those described in this
              Privacy Notice.</p>
            <ul class="text3" type="circle" data-aos="fade-up" data-aos-duration="1000">
              <li>Transactions involving Third Parties</li>
              <li>Third-Party Service Providers</li>
              <li>Business Transfers</li>
              <li>Protection of EOXS and Others</li>
            </ul>
          </div>

          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">Security of Your Information</h5>

            <ul class="text3" type="circle" data-aos="fade-up" data-aos-duration="1000">
              <li>The security of your personal information uses encryption protocols and software. 
              </li>
              <li> We maintain physical, electronic, and procedural safeguards in connection with the collection,
                storage, and disclosure of personal customer information.
              </li>
              <li> Security procedures may occasionally require proof of identity before disclosure of personal
                information to you.
              </li>
              <li> Be sure to sign off when finished using a shared computer.
              </li>
            </ul>

          </div>

          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">What About Advertising?</h5>

            <ul class="text3" type="circle" data-aos="fade-up" data-aos-duration="1000">
              <li>EOXS Services may include third-party advertising and links to other websites and apps. Third-party
                advertising partners may collect information about you when you interact with their content,
                advertising, and services.
              </li>
              <li> We provide ad companies with information that allows them to serve you with more useful and relevant
                EOXS ads and to measure their effectiveness. We never share your name or other information that directly
                identifies you when we do this. Instead, we use an advertising identifier like a cookie or other device
                identifier.
              </li>

            </ul>

          </div>

          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">Preferences & Settings</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="text3">
              EOXS Services includes settings that provide options as to how your information is being used. </p>


            <ul class="text3" type="circle" data-aos="fade-up" data-aos-duration="1000">
              <li>As described above, you can choose not to provide certain information.</li>
              <li> You can add or update certain information. When you update information, we usually keep a copy of the
                prior version for our records.</li>
              <li>If you do not want to receive e-mail or other communications from us, adjust your communication
                preferences . </li>
              <li>If you don’t want to receive in-app notifications from us, adjust your notification settings in the
                app or device. </li>
              <li>If you do not want to see interest-based ads, please adjust your advertising preferences .</li>
              <li>Because cookies and identifiers allow you to take advantage of some essential features of EOXS
                Services, we recommend that you leave them turned on. For instance, if you block or otherwise reject our
                cookies, you will not be able to add items to your Shopping Cart, proceed to Checkout, or use any
                Services that require you to Sign in.</li>
              <li>If you are a seller, you can add or update certain information, update your account information and
                adjust your e-mail or other communications you receive from us by updating your Notification
                <br />
                Preferences .
                In addition, to the extent required by applicable law, you may have the right to request access to or
                delete your personal data.</li>
            </ul>
          </div>


          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">California Consumer Privacy Act</h5>
            <ol data-aos="fade-up" data-aos-duration="1000">
              <br />
              <li><b>Categories of personal information collected.</b> The personal information that EOXS collects, or
                has
                collected from consumers in the twelve months prior to the effective date of this Disclosure, fall into
                the following categories established by the California Consumer Privacy Act, depending on which EOXS
                Service is used: 
                <br />
                <br />

                <ul type="circle" class="mt-1" data-aos="fade-up" data-aos-duration="1000">
                  <li>Identifiers such as your name, alias, address, phone numbers, or IP address;</li>
                  <li>Personal information, such as a credit card number</li>
                  <li>Age, gender, or other protected classifications, for example if you create a child profile or baby
                    registry;</li>
                  <li>Commercial information, such as purchase and content streaming activity;</li>
                  <li>Internet or other electronic network activity information, including content interaction
                    information, such as content downloads, streams, and playback details;
                  </li>
                  <li>Biometric information, such as your voice profile, if you enable that feature on Alexa;</li>
                  <li>Geolocation data, such as the location of your device or computer;</li>
                  <li>Audio or visual information, such as voice recordings when you speak to Alexa, or images and
                    videos collected or stored in connection with EOXS Services;</li>
                  <li>Professional information, for example data you may provide about your business if you are a
                    Seller; and</li>
                </ul>
              </li>

              <li><b>Categories of personal information disclosed for a business purpose.</b> The personal information
                that
                EOXS disclosed about consumers for a business purpose in the twelve months prior to the effective date
                of this Disclosure fall into the following categories established by the California Consumer Privacy
                Act, depending on which EOXS Service is used: 
                <br />
                <br />

                <ul type="circle" class="mt-1" data-aos="fade-up" data-aos-duration="1000">
                  <li>identifiers such as your name, address, phone numbers, or IP address, for example if we use a
                    third party shipper to deliver your order;</li>
                  <li>personal information, such as a credit card number, for example if we use a third party payment
                    processor;</li>
                  <li>your age, gender, or other protected classifications, for example if you choose to participate in
                    a survey distributed by a survey provider;</li>
                  <li>commercial information, such as the details of a product or service you purchased if a third party
                    service provider is assisting to provide that product or service to you;</li>
                  <li>internet or other electronic network activity information, such as if we use a service provider to
                    help us gather crash reports for analyzing the health of our devices and services;
                  </li>
                  <li>geolocation data, such as providing a delivery partner the location of your vehicle in order to
                    deliver a package if you use EOXS Key;</li>
                  <li>audio or visual information, for example if a service provider reviews recordings of customer
                    service phone calls for quality assurance purposes, or if we use a service provider to fulfill your
                    order to print images from your EOXS Photos account; and</li>
                  <li>professional information, for example if we provide your account details to a service provider for
                    verification as part of enrolment for an EOXS Business account.</li>
                </ul>
                <br />
                <br />
              </li>
              <li data-aos="fade-up" data-aos-duration="1000"><b>Right to Request Access to or Deletion of Personal Information:</b> You may have the right under
                the
                California Consumer Privacy Act to request information about the collection of your personal information
                by EOXS, or access to or deletion of your personal information. 
                <br />
                <br /></li>
              <li data-aos="fade-up" data-aos-duration="1000"> <b>No sale of personal information. </b>In the twelve months prior to the effective date of this
                Disclosure,
                EOXS has not sold any personal information of consumers, as those terms are defined under the California
                Consumer Privacy Act.
                <br />
                <br /></li>
              <li data-aos="fade-up" data-aos-duration="1000"><b>No Discrimination.</b> EOXS will not discriminate against any consumer for exercising their rights
                under
                the California Consumer Privacy Act.
                <br />
                <br /></li>
            </ol>
          </div>
          <div>
            <h5 data-aos="fade-up" data-aos-duration="1000" class="text2">Conditions of Use, Notices, and Revisions</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="text3">
              If you choose to use EOXS Services, your use and any dispute over privacy is subject to this Notice and
              our Terms of Use , including limitations on damages, resolution of disputes, and application of the law of
              the state of Washington. If you have any concern about privacy at EOXS, please contact us with a thorough
              description, and we will try to resolve it. Our business changes constantly, and our Privacy Notice will
              change also. You should check our websites frequently to see recent changes. Unless stated otherwise, our
              current Privacy Notice applies to all information that we have about you and your account. We stand behind
              the promises we make, however, and will never materially change our policies and practices to make them
              less protective of customer information collected in the past without the consent of affected customers. 
            </p>

          </div>



          <br />
          <!-- <div data-aos="fade-up" data-aos-duration="1000" class="row">
            <div class="col-md-12">
              <a class="viewbtn">Load More
                <img src="../../../../assets/images/light arrow.png" />
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>