<section class="commonly-searched">
  <div class="container " >
      <div class="row mt-5 pt-3 mb-4">
          <div class="col-md-12">
              <div class="text-center">
                  <h2 class="headtext mb-5" data-aos="fade-up" data-aos-duration="900">Commonly Searched Products</h2>
              </div>
          </div>
          <div class="col-md-12">
              <div class="table-responsive bordergh crochet p-3">
                  <table class="table" data-aos="fade-up" data-aos-duration="900">
                      <tr>
                          <th>Product</th>
                          <th>Quality</th>
                          <th>Thickness(in)</th>
                          <th>Width(in)</th>
                          <th>Weight(in)</th>
                          <th>PIW</th>
                          <th>Location</th>
                          <th>Coilnumber</th>
                          <th>Price</th>
                          <th>Action</th>

                      </tr>
                      <tr *ngFor="let elements of commonsearched">
                          <td>{{ elements.product }}</td>
                          <td>{{ elements.quality }}</td>
                          <td>{{ elements.thickness }}</td>
                          <td>{{ elements.width }}</td>
                          <td>{{ elements.weight }}</td>
                          <td>{{ elements.piw }}</td>
                          <td>{{ elements.location }}</td>
                          <td>{{ elements.coilnumber }}</td>
                          <td>jk</td>
                          <td class="d-flex align-items-center">
                            <div class="enquiry-btn">
                              <button class="btn"(click)="openDialogenquiry(elements)" >Enquiry</button>
                          
            
                            </div>
                            <div class="make-offer ml-2">
                              <button class="btn " >Make An Offer</button>
                            </div>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </div>
</section>
