.commonly-searched {
	.headtext {
		font-family: VAGRounded;
		font-size: 52px;
		font-weight: 300;
		letter-spacing: 2.08px;
		color: #3e3e3e;
	}
	.bordergh {
		// background-image: url(../../../../assets/images/tableborder.png);
		// background-size: contain;
		// background-repeat: no-repeat;
		border: 15px solid transparent;
		border-image: url(../../../../assets/images/tableborder.png) 9 round;
	}
	table {
		border-collapse: collapse;
		tr,
		th,
		td {
			border: none;
		}
		tr {
			vertical-align: middle;
			th {
				vertical-align: middle;
				text-align: center;
				font-family: VAGRounded;
				font-size: 18px;
				font-weight: 300;
				letter-spacing: 0.72px;
				color: #36bebe;
			}
			td {
				vertical-align: middle;
				text-align: center;
				font-family: VAGRounded;
				font-size: 13px;
				font-weight: 300;
				letter-spacing: 0.72px;
				color: rgba(62, 62, 62, 0.7);
			}
		}
		tr:nth-child(even) {
			background: #f9f9f9;
		}
	}
}

@media (max-width: 576px) {
	.commonly-searched {
		.headtext {
			font-size: 26px;
		}
		table {
			tr {
				th {
					font-size: 16px;
				}
				td {
					font-size: 12px;
				}
			}
		}
	}
}
