<!-- <section> -->
<!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="">
                    <img class="w-100" src="../../../assets/images/about-banner.png">
                    <div class="About">
                        About Us
                    </div>

                </div>
            </div>
        </div>
    </div> -->
<section class="banner">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="">
                    <h3 data-aos="fade-up"
                    data-aos-easing="linear"
                    data-aos-duration="1500">About Us</h3>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="text">
        <div class="row">
            <div class="col-md-6" data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1500">
                <img class="w-100" src="../../../assets/images/About-des.png">
            </div>
            <div class="col-md-6">
                <h5 class="text2" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500"> At EOXS, we believe in enabling the global industrial materials markets to be seamlessly connected. We will continuously improve by delivering technology - led solutions that delight our customers enabling them to operate more
                    efficiently.
                    <p class=" mt-4 text3" data-aos="fade-up"
                    data-aos-easing="linear"
                    data-aos-duration="1500">
                        That's why we're building the first open and independent platform for industrial materials, a strategic solution that combines technology with hands-on supply chain expertise. We are an independent and autonomous virtual marketplace open to and providing
                        significant benefits to all participants in the industrial materials supply chain. We help producers, distributors, traders, and manufacturers. We enable our customers to manage risk, improve cash flow, reduce inventory, and grow
                        sales. We have worked in the industrial materials space for decades. The challenges we faced in managing inventory and satisfying customers were enormous. Long lead times, volatile demand, purchase price volatility, huge inventory
                        values, and long cash cycles to name a few. These industrial market conditions make it difficult to carry the right inventory at the right time and it can be very costly if you don't.

                    </p>

                </h5>
            </div>
        </div>
    </div>
</div>
<!-- </section> -->
<app-contactus></app-contactus>
