<section class="testomonial pb-5 mt-5" >
  <div class="container pt-sm-5 pb-5">
      <div class="row pt-5 mt-4 text-white">
          <div class="col-3" style="cursor: pointer;" (click)="showcontent1()" data-aos="fade-up" data-aos-duration="950">
              <div class="padddes" [ngClass]="showdiv1 ? 'bordermark' : 'removeborder'">
                  <label>
          EOXS: An online steel marketplace
        </label>
              </div>
          </div>
          <div class="col-3" style="cursor: pointer;" (click)="showcontent2()" data-aos="fade-up" data-aos-duration="950">
              <div class="padddes" [ngClass]="showdiv2 ? 'bordermark' : 'removeborder'">
                  <label>What Makes Us Stand Out As A Leading Steel Distributor </label>
              </div>
          </div>
          <div class="col-3" style="cursor: pointer;" (click)="showcontent3()" data-aos="fade-up" data-aos-duration="950">
              <div class="padddes" [ngClass]="showdiv3 ? 'bordermark' : 'removeborder'">
                  <label>USA's Top Steel Supplier & Distributor </label>
              </div>
          </div>
          <div class="col-3" style="cursor: pointer;" (click)="showcontent4()" data-aos="fade-up" data-aos-duration="950">
              <div class="padddes" [ngClass]="showdiv4 ? 'bordermark' : 'removeborder'">
                  <label>EOXS: The future of Steel </label>
              </div>
          </div>
          <div class="col-md-12 py-5 px-sm-5 mx-3" *ngIf="showdiv1" data-aos="fade-up" data-aos-duration="950">
              <p class="p-text-align">
                  EOXS&apos;s founder, Mr. RJ was a part of the steel industry for 8 years and he realized that the industry was in dire need for the involvement of technology.
              </p>
              <p class="p-text-align">
                  Thus began the inception of EOXS, an online steel marketplace which connects the supplier to the buyer. One of the leading marketplaces in USA and Canada, EOXS has managed to quickly climb up the ladder, procuring a $2 million seed money from Mucker Capital.
              </p>
              <p class="p-text-align">
                  This meteoric raise to the top can be credited to the transparent, easy to navigate and well thought out purpose for the company. The company can be compared to the Amazon or eBay of Steel, with a list of vetted steel suppliers who list their products in the website for sale.
              </p>
	      <p class="p-text-align">The young start up received its seed funding from Mucker Capital, and are looking to enter their second round of funding soon. EOXS is currently valued at $6million and has been reporting net profits from the beginning, hitting their all time gross profit high of $600000 during the month of April.</p>
              <p class="p-text-align">
                 Our dynamic take on the steel industry is a reflection of its belief of following the unconventional path. RJ, the CEO, believes that its better to try and fail than fail to try.
              </p>
              <p class="p-text-align">
                His experience in the industry made him understand the importance of technology in the marketplace, especially in a multi billion dollar steel industry like the USA. He started EOXS to make the business process better and with it, create a company culture that will have its own value.
              </p>
          </div>
          <div class="col-md-12 py-5 px-5 mx-3" *ngIf="showdiv2" data-aos="fade-up" data-aos-duration="950">
              <p class="p-text-align">
                At EOXS, you will be able to buy steel with confidence. We observed the lack of technology in steel procurement and decided to create a platform where buyer and seller have unfettered access to each other.
                Our primary focus at EOXS is to ensure customer satisfaction. We are here to make your transactions easier. The products undergo diligent quality checks before it reaches the customer. We believe that the customer journey continues even after a sale and are here to ensure your business receives the best of steel products.
              </p>
          </div>
          <div class="col-md-12 py-5 px-5 mx-3" *ngIf="showdiv3" data-aos="fade-up" data-aos-duration="950">
              <p class="p-text-align">
                You will not be limited by a narrow supplier pool. Our vetted suppliers are just a click away.  We provide a technology driven, trustworthy platform that will simply help you do business better. We believe that the right processes can change the way businesses function.  EOXS is here to enable that.
              </p>
          </div>
          <div class="col-md-12 py-5 px-5 mx-3" *ngIf="showdiv4" data-aos="fade-up" data-aos-duration="950">
              <p class="p-text-align">
                The process behind steel procurement is in need of a change. Most importantly, it needs to be driven by technology that is built to strive for cost effectiveness on both sides of the marketplace. EOXS is an online steel marketplace where buyers and sellers have easy access to one another.
                Our customers will have real time access to inventory levels through our ERP system that tracks real time movement of stock.
                No more narrow supply lines or high lead times. We are changing the way the industry conducts business. We are stepping into a future of limited inefficiencies and limitless benefits for our customers.
              </p>
          </div>
      </div>
  </div>
</section>

<section class="testomonial2">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="my-5 text-center">
                  <h3 data-aos="fade-up" data-aos-duration="950">What Our Clients Say</h3>
              </div>
          </div>
          <div class="col-md-12">
              <owl-carousel-o [options]="customOptions" class="settext">
                  <ng-template carouselSlide data-aos="fade-right" data-aos-duration="950">
                      <div class="imgbg">
                          <img class="w-100 h-100" src="../../../../assets/images/testimonial.png" />

                      </div>
                      <div class="testtext">
                          <p>
                            I was initially apprehensive about sourcing suppliers online. EOXS turned out to be a wonderful surprise. The service was prompt, the product quality was great
                          </p>
                          <div class="d-flex mt-2 align-items-center">
                              <!-- <img class="rounded-circle" src="../../../../assets/images/profile.png" /> -->
                              <span class="name ml-3">Alex 4.5</span>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide data-aos="fade-right" data-aos-duration="950">
                      <div class="imgbg">
                          <img class="w-100 h-100" src="../../../../assets/images/testimonial.png" />
                      </div>
                      <div class="testtext">
                          <p>
                            We had a major delivery in two days that came up out of nowhere. I placed an order at 2am, requesting them to speed up the delivery time. They managed to deliver it at 10am! Love the team’s determination to see it through! Thank you!</p>
                          <div class="d-flex mt-2 align-items-center">
                              <!-- <img class="rounded-circle" src="../../../../assets/images/profile.png" /> -->
                              <span class="name ml-3">Mike 5</span>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide data-aos="fade-right" data-aos-duration="950">
                    <div class="imgbg">
                        <img class="w-100 h-100" src="../../../../assets/images/testimonial.png" />

                    </div>
                    <div class="testtext">
                        <p>
                            They are quick, efficient and helped me find a credible supplier. Would definitely do business through EOXS</p>
                        <div class="d-flex mt-2 align-items-center">
                            <!-- <img class="rounded-circle" src="../../../../assets/images/profile.png" /> -->
                            <span class="name ml-3">Carla 4</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide data-aos="fade-right" data-aos-duration="950">
                    <div class="imgbg">
                        <img class="w-100 h-100" src="../../../../assets/images/testimonial.png" />

                    </div>
                    <div class="testtext">
                        <p>
                            We have found new customers through EOXS. Looking forward to do more business with them</p>
                        <div class="d-flex mt-2 align-items-center">
                            <!-- <img class="rounded-circle" src="../../../../assets/images/profile.png" /> -->
                            <span class="name ml-3">Michael 4.5</span>
                        </div>
                    </div>
                </ng-template>
              </owl-carousel-o>
          </div>

      </div>
      <div class="row my-5">
          <div class="col-md-12 d-flex justify-content-center" data-aos="fade-right" data-aos-duration="950">
              <a class="viewbtn">View All testimonial
        <img src="../../../../assets/images/color_arrow.png" />
      </a>
          </div>
      </div>
  </div>
</section>
