<div class="col-md-12 mt-5 display-center forgot">
    <div class="card w-50 border-info">
        <h5 class="card-header bg-transparent border-info text-info">Reset your password</h5>
        <div class="card-body">
            <form class="formmm" [formGroup]="forgotPasswordForm" (ngSubmit)="updatePassword()">
                <div class="py-2">
                    <input class="form-control" type="email" placeholder="Email address" formControlName="email"
                        [ngClass]="{'border border-danger' : forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid}" />
                </div>
                <div class="text-left"
                    *ngIf="(forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').errors?.required) && !forgotPasswordForm.get('email').errors?.pattern">
                    <span class="text-danger">Required</span>
                </div>
                <div class="text-left"
                    *ngIf="!forgotPasswordForm.get('email').errors?.required && forgotPasswordForm.get('email').errors?.pattern">
                    <span class="text-danger">Invalid Email</span>
                </div>
                <div class="py-2">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                        [ngClass]="{'border border-danger' : forgotPasswordForm.get('password').touched && forgotPasswordForm.get('password').invalid}" />
                </div>
                <div class="text-left"
                    *ngIf="forgotPasswordForm.get('password').touched && forgotPasswordForm.get('password').invalid">
                    <span class="text-danger">Required</span>
                </div>
                <div class="py-2">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                        formControlName="confirmPassword"
                        [ngClass]="{'border border-danger' : (forgotPasswordForm.get('confirmPassword').touched && forgotPasswordForm.get('confirmPassword').invalid) || (forgotPasswordForm.get('confirmPassword').dirty && isConfirmPasswordValid() == false)}" />
                </div>
                <div class="text-left"
                    *ngIf="forgotPasswordForm.get('confirmPassword').touched && forgotPasswordForm.get('confirmPassword').errors?.required">
                    <span class="text-danger">Required</span>
                </div>
                <div class="text-left"
                    *ngIf="!forgotPasswordForm.get('confirmPassword').errors?.required && isConfirmPasswordValid() == false">
                    <span class="text-danger">Password & Confirm Password does not match</span>
                </div>
                <div class="py-3">
                    <div class="shortdes px-3">
                        By continuing, you agree to Exos Terms of Use and consent to Privacy Policy
                    </div>
                </div>
                <div class="py-3">
                    <button type="submit" class="form-control border-info">Submit
                        <img class="icon" src="../../../assets/images/contact-arrow.png " alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
