<div class="conatiner-fluid blg-head">
    <div class="row">
        <div class="col-md-12 ">
            <h2>Benefits of procuring steel online </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 py-5">


            <p> </p>
            <div>
                <img src="" />
            </div>
            <p></p>
            <p>The steel industry has functioned seamlessly for decades by following a traditional business model. This
                tried and tested approach has given rise to Tier one tier 2 suppliers and brokers leveraging their
                connections with each other and steel mills to procure the steel needs of the end customer. Customers
                had access to limited supplier pools, and the brokers will be the ones that source them out. </p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p> </p>
            <p>Our founder, Mr. Rajat Jain had been working in the steel industry for 8 years when he realized that the
                industry was in dire need of involvement of technology. </p>
            <p></p>
            <p>Thus began the inception of EOXS, an online steel marketplace which connects the supplier to the buyer.
                One of the leading marketplaces in USA and Canada, EOXS has managed to quickly climb up the ladder,
                procuring a $2 million seed money from Mucker Capital.</p>
            <p></p>
            <p>The purpose of EOXS is simple. We want to add value to every aspect of the steel industry. </p>
            <p></p>
            <p>EOXS is currently valued at $6million and has been reporting net profits from the beginning, hitting
                their all time gross profit high of $600000 during the month of April. Our dynamic take on the steel
                industry is a reflection of Rajat, our CEO, who believes that its better to try and fail than fail to
                try.</p>
            <p> His experience in the industry made him understand the importance of technology in the marketplace,
                especially in a multi billion dollar steel industry like the USA. </p>
            <p></p>
            <p>He started EOXS to make the business process better and with it, create a company culture that will have
                its own value. </p>
            <p></p>
            <div class="sm-img">
                <img class="w-100 h-100" src="../../../../../assets/images/blog1_1.jpg" />
            </div>
            <p class="font-weight-bold mt-3"> Our promise</p>
            <p>We businesses from both sides of the transaction. We help eliminate the geographical barrier to supply by
                providing an extensive list of vetted suppliers who can provide high quality steel to the customer. At
                EOXS, we deliver what we promise. </p>
            <p>With the help of technology, we coordinate transactions between the buyer and seller, reducing the cost,
                time and effort it takes to procure steel. </p>
            <p></p>
            <p> Why choose us? </p>
            <p>EOXS is guided by experience, expertise and attention to the importance of technology in process
                innovation. We are here to revolutionize the way we do business in the industry; no more time wasted in
                scouring suppliers and accounting for uncertainties. We are here to take the hassle out of the process
                and provide you with a list of vetted suppliers and help reduce purchase costs for your company. </p>
            <p> </p>

            <div class="sm-img">
                <img class="w-100 h-100" src="../../.././../../assets/images/blog1_11.png" />

            </div>
            <p></p>

            <p>Customer Satisfaction: EOXS is driven to improve every aspect of the customer experience in the industry.
                We help producers, distributors, traders, and manufacturers. We enable our customers to manage risk,
                improve cash flow, reduce inventory, and grow sales. It is important to make sure the pre sale and post
                sale experience is seamless and efficient. </p>
            <p></p>
            <p>Going global: At EOXS, we are working towards creating a global integrated supply chain management system
                for procuring steel. By increasing the efficiency in the industry, we can truly cross the set
                geographical boundaries and provide technology led solutions to customers. </p>
            <p></p>
            <p>Buy steel with confidence: By choosing EOXS, customers will be privy to the best solution that does not
                compromise on quality, while being cost effective. Steel procurement is a costly exercise and getting
                the right supplier and product is a hassle. This is where we come in. Our vetted supplier pool will
                provide the best product for your business needs. </p>
            <p></p>

            <div class="sm-img">
                <img class="w-100 h-100" src="../../.././../../assets/images/blog1_111.jpg" />

            </div>

            <p></p>
            <p class="font-weight-bold">Our products: </p>
            <p>We provide a wide range of products at EOXS like hot rolled, cold rolled galvanized, galvannealed and
                electro- galvanized steel coils and materials for your business processes. We also customize the
                measurements and specifications based on the client requirements. </p>
            <p></p>
            <p></p>
            <p></p>
            <p class="font-weight-bold"> The future: </p>
            <p>The steel industry is currently going through a digital transformation as emerging start ups are paving
                the way for online business processes. EOXS is in the forefront of this change.EOXS is also looking to
                add value to the transaction through secondary services like delivery systems and entirely reducing the
                dependency on middlemen. Even though we are currently assisting the traditional business in the same
                line as the brokers, the future would find EOXS to be the go to marketplace to buy steel, no questions
                asked. </p>
            <p></p>
            <p>Let’s undertake the help of smart processes, technology and the internet to create a new normal. With
                EOXS, prepare to step into a future of seamless integration of the global supply chain. </p>



        </div>
    </div>
</div>