<section class="signin p-4 text-center">
    <div class="closedil" (click)="closedialog()">
        <img class="cursor-pointer" src="../../../assets/images/closedialog.png" />
    </div>
    <div class="icon pt-2">
        <img src="../../../assets/images/enquiry.png" alt="">
    </div>
    <div class="heading pt-2">
        <h3>
            Sign <span>in</span>
        </h3>
    </div>
    <form class="formmm" [formGroup]="signInForm" (ngSubmit)="signIn()">
        <div class="py-2">
            <input class="form-control" type="email" placeholder="Email address" formControlName="email"
            [ngClass]="{'border border-danger' : signInForm.get('email').touched && signInForm.get('email').invalid}" />
        </div>
        <div class="text-left" *ngIf="(signInForm.get('email').touched && signInForm.get('email').errors?.required) && !signInForm.get('email').errors?.pattern">
            <span class="text-danger">Required</span>
        </div>
        <div class="text-left" *ngIf="!signInForm.get('email').errors?.required && signInForm.get('email').errors?.pattern">
            <span class="text-danger">Invalid Email</span>
        </div>
        <div class="py-2">
            <input type="password" class="form-control" placeholder="Password" formControlName="password"
            [ngClass]="{'border border-danger' : signInForm.get('password').touched && signInForm.get('password').invalid}" />
        </div>
        <div class="text-left" *ngIf="signInForm.get('password').touched && signInForm.get('password').invalid">
            <span class="text-danger">Required</span>
        </div>
        <div class="d-flex justify-content-end">
            <a class="frgt-pass" routerLink="/forgot-password" (click)="closedialog()">Forgot Password?</a>
        </div>
        <div class="py-3">
            <div class="shortdes px-3">
                By continuing, you agree to Eoxs Terms of Use and consent to Privacy Policy
            </div>
        </div>
        <div class="py-3">
            <button type="submit" class="form-control">Sign in
                <img class="icon" src="../../../assets/images/contact-arrow.png " alt="">
            </button>
        </div>
        <div class="pt-3">
            <p class="dess">Don't have an account? <span class="signup cursor-pointer" (click)="opensignup()">Sign Up</span></p>
        </div>
    </form>

</section>
