<div class="container-fluid banner">
  <div class="row">
      <div class="col-md-12 p-0">
          <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
              
              <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                      <img class="w-100" src="/assets/images/slide2.jpg" alt="Random slide">
                  </div>
                  <div class="carousel-caption">
                      <h3  data-aos="fade-up" data-aos-duration="900" >Buy Steel with <span>Confidence</span></h3>
                      <p  data-aos="fade-up" data-aos-duration="900" >An online marketplace which stands behind its Steel</p>
                      <div  data-aos="fade-up" data-aos-duration="900"  class="explorebtn">
                          <a href="">Explore Now <img src="/assets/images/arrow.png" /></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="w-100" src="/assets/images/slide1.jpg" alt="Random slide">
                </div>
                <div class="carousel-caption">
                    <h3  data-aos="fade-up" data-aos-duration="900" >Buy Steel with <span>Confidence</span></h3>
                    <p  data-aos="fade-up" data-aos-duration="900" >This carousel hides navigation arrows and indicators.</p>
                    <div  data-aos="fade-up" data-aos-duration="900"  class="explorebtn">
                        <a href="">Explore Now <img src="/assets/images/arrow.png" /></a>
                    </div>
                </div>
            </ng-template>
              <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                      <img class="w-100" src="/assets/images/slide3.jpg" alt="Random slide">
                  </div>
                  <div class="carousel-caption">
                      <h3  data-aos="fade-up" data-aos-duration="900" >Buy Steel with <span>Confidence</span></h3>
                      <p  data-aos="fade-up" data-aos-duration="900" >An online marketplace which stands behind its Steel</p>
                      <div  data-aos="fade-up" data-aos-duration="900"  class="explorebtn">
                          <a href="">Explore Now <img src="/assets/images/arrow.png" /></a>
                      </div>
                  </div>
              </ng-template>
          </ngb-carousel>


      </div>

  </div>
</div>
