<section class="signin p-4 text-center" *ngIf="isSupplier">
    <div class="closedil" (click)="closedialog()">
        <img class="cursor-pointer" src="../../../assets/images/closedialog.png" />
    </div>
    <div class="icon pt-2">
        <img src="../../../assets/images/enquiry.png" alt="">
    </div>
    <div class="heading pt-2">
        <h3>
            Upload <span>file</span>
        </h3>
    </div>
    <form class="formmm" [formGroup]="inventory" (ngSubmit)="onSubmit()">
        <div class="py-2">
            <input class="form-control" type="file" 
            (change)="postMethod($event.target.files)"  />
            <span *ngIf = "submitted && f.inventoryDocument.errors && f.inventoryDocument.errors.required">
               File is required
              </span>
        </div>

        <div class="py-3">
            <button type="submit" class="form-control">Upload
                <img class="icon" src="../../../assets/images/contact-arrow.png " alt="">
            </button>
        </div>
        
    </form>
</section>

<section class="signin p-4 text-center" *ngIf="!isSupplier">
    <div class="closedil" (click)="closedialog()">
        <img class="cursor-pointer" src="../../../assets/images/closedialog.png" />
    </div>
     
     <div>
         <h1>You don't have a access for upload file</h1>
     </div>
</section>